body, pre {
	font-family: 'Consolas', 'Bitstream Vera Sans Mono', monospace;
	font-size: 14px;
	font-weight: bold;
    color: hsl(174, 100%, 20%);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAASklEQVR42m1OywoAMAjy/381iG6douHAHWRCD6xMdPdGxBLsM/NWoqoWTvgBmDiYmRsCOQIitCCV94JyUvn5gBN+AJf0l3BTbvoAbKz5eYmRlT4AAAAASUVORK5CYII='), top left repeat;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.selected { background-color: #95CAFF; }
.sibling { background-color: #CECECE; }

.return { color: hsl(174, 100%, 20%); font-weight: bold; }
.string, .str { color: hsl(128, 100%, 20%); }
.functioncall, .call { color: hsl(251, 100%, 20%); font-weight: bold; }
.import, .importfrom { color: hsl(250, 100%, 20%); font-weight: bold; }
.namedfunction, .functiondef { color: hsl(255, 100%, 20%); font-weight: bold; }
.localfunction { color: hsl(255, 100%, 20%); font-weight: bold; }
.else { color: hsl(300, 100%, 20%); font-weight: bold; }
.while { color: hsl(300, 100%, 20%); font-weight: bold; }
.fullif { color: hsl(300, 100%, 20%); font-weight: bold; }
.anonfunction, .lambda { color: hsl(240, 100%, 20%); font-weight: bold; }
.localvar, .name { color: hsl(130, 100%, 20%); font-weight: bold; }
.for, .forin { color: hsl(300, 100%, 20%); font-weight: bold; }
.constant .num { color: hsl(251, 100%, 20%); }
.if { color: hsl(300, 100%, 20%); font-weight: bold; }
.ifchain { color: hsl(300, 100%, 20%); font-weight: bold; }
.repeatuntil { color: hsl(300, 100%, 20%); font-weight: bold; }
.doblock { color: hsl(200, 100%, 20%); font-weight: bold; }
.operator, .binop, .unaryop { color: hsl(200, 100%, 20%); font-weight: bold; }
